{% extends "home.html" %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>show password</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
</head>
{% block content %}
<body>
    <div class="container text-center">
        <h1 align="center">Password Generated</h1>
        <h4 id="copy" class="alert alert-success">{{ password }}</h4>
        
        <button onclick="copytext()">Copy</button>
        
    </div>

    <script>
        function copytext() {
            // Get the text content of the h1 element
            var copyText = document.getElementById("copy");

            // Create a temporary input element to copy the text
            var tempInput = document.createElement("input");
            tempInput.value = copyText.textContent;
            document.body.appendChild(tempInput);

            // Select and copy the text
            tempInput.select();
            document.execCommand("copy");

            // Remove the temporary input element
            document.body.removeChild(tempInput);

            // Alert the user
            alert("Copied the text: " + copyText.textContent);
        }
    </script>

</body>
{% endblock content %}
</html>